.card {
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  padding: 32px 40px 40px;
  display: flex;
  flex-direction: column;
  transition: all  .5s ease-out;
}

.card--dark {
  background: #191919;
  color: white;
}

.card__title {
  color: black;
  margin-block-end: 24px;
}

.card__cta {
  align-self: flex-end;
}

.card__icon {
  width: 72px;
  height: 72px;
}

.card--centered {
  align-items: center;
}

.card:hover {
  transform: translate(0, -4px);
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card {
    border-radius: 24px;
    padding: 24px 32px 32px;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {}
