.chip {
  padding: 8px 16px;
  border-radius: 32px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.chip--dark {
  border: none;
  color: black;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
}

.chip--light {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}

.chip__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {}
