.chip {
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 32px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.chip--dark {
  border: 1px solid white;
  color: white;
}

.chip--light {
  border: 1px solid black;
}

.chip__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {}
