body {
  margin: 0;
  padding: 0;
}

.hero__section {
  background: #111;
  padding-top: 120px;
  padding-bottom: 96px;
  color: white;
}

.logo {
  padding: 16px;
  border: 2px solid white;
  border-radius: 100%;
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  line-height: 64px;
  margin-left: 64px;
}

.hero__head {
  display: grid;
  grid-template-columns: 9fr 3fr;
  margin-bottom: 56px;
  margin-top: 56px;
}

.works__section {
  background: #efefef;
  padding-top: 64px;
  padding-bottom: 120px;
  color: black;
}

.works__title {
  color: black;
}

.contact__section {
  background: #C7FCB4;
  padding-top: 64px;
  padding-bottom: 120px;
  color: black;
  display: grid;
  grid-template-columns: 3fr 9fr;
}

.contact__title {
  writing-mode:vertical-lr;
  letter-spacing: 4px;
}

.thanks__section {
  background: black;
  padding-top: 64px;
  padding-bottom: 120px;
  color: white;
  display: grid;
  grid-template-columns: 3fr 9fr;
}

.thanks__title {
  writing-mode:vertical-lr;
  letter-spacing: 4px;
}

.hero__skills {
  margin-bottom: 64px;
}

.hero__subtitle {
  margin-bottom: 32px;
}
.sideprojects__section {
  background: #E9FCE6;
  padding-top: 64px;
  padding-bottom: 120px;
  color: black;
}
.sideproject  {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.sideproject h3 {
  margin: 0;
}
.sideproject p {
color:black;
margin: 0;

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .hero__section {
    padding-top: 64px;
    padding-bottom: 72px;
    color: white;
  }
  .hero__head {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 32px;
  }
  .logo {
    display: none;
  }
  .works__section {
    padding-top: 32px;
    padding-bottom: 40px;
    color: black;
  }
  .contact__section {
    padding-top: 56px;
    padding-bottom: 72px;
    grid-template-columns: 1fr;
  }

  .contact__title {
    display: none;
  }

  .thanks__section {
    padding-top: 32px;
    padding-bottom: 40px;
    grid-template-columns: 1fr;
  }

  .thanks__title {
    display: none;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {}
