.marquee__link {
  text-decoration: none;
  color: white;
}
.marquee__link:hover {
  text-decoration: underline;
  color: white;
}

.marquee__container {
  position: fixed;
  width: inherit;
  top: 0;
  left: 0;
  height: 40px;
  overflow: hidden;
  background: linear-gradient(180deg, #292929 0%, #101010 100%)!important;
  z-index: 1000;
  width: 150%;
  text-align: left;
  padding: 8px;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 8px;
  	color: white;
}
.marquee__text {
    padding-left: 60%;
    animation: marquee 40s linear infinite;
}
.marquee__text span {
  display: flex;
  gap: 16px;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-250%, 0); }
}
