a {
  color: inherit;
  text-decoration: none;
}

.button {
  align-self: flex-start;
  padding: 16px 24px;
  background: linear-gradient(180deg, white 0%, transparent 100%);
  border-radius: 16px;
}
