@font-face {
  font-family: Apfel Grotezk;
  src: url(../font/ApfelGrotezk-Regular.otf);
}


p {
  font-family: Apfel Grotezk, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
}

h1 {
  font-family: Apfel Grotezk, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 52px;
  color: #FFFFFF;
  margin-block-start: 0;
  margin-block-end: 32px;
}

h2 {
  font-family: Apfel Grotezk, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 44px;
}

h3 {
  font-family: Apfel Grotezk, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1px;
}

h4 {
  font-family: Apfel Grotezk, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
}

.paragraph--small {
  font-family: Apfel Grotezk, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.title {
  font-family: Apfel Grotezk, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 72px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.cta {
  font-family: Apfel Grotezk, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
}

.label {
  font-family: Apfel Grotezk, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  p {
    font-size: 24px;
    line-height: 32px;
  }

  h1 {
    font-size: 32px;
    line-height: 32px;
    margin-block-end: 16px;
  }

  h2 {
    font-size: 24px;
    line-height: 28px;
  }

  h3 {
    font-size: 20px;
    line-height: 24px;
  }

  .paragraph--small {
    font-size: 16px;
    line-height: 24px;
  }

  .title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 16px;
  }

  .label {
    font-family: Apfel Grotezk, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 2px;
  }

}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {}
